
RewriteEngine On

# Redirect specific URLs to homepage or external link
RewriteCond %{HTTP_HOST} ^(www\.)?kinezis\.com\.pl$ [NC]
RewriteRule ^oferta,chustonoszenie,34\.html$ http://www.kinezis.com.pl/ [R=301,L]
RewriteRule ^play/?$ https://partnervavadarv.com/?promo=77ab7c4c-6502-476a-a0e7-1a4fcb1b6b8e&target=register [R=301,L]
RewriteRule ^oferta\.html$ http://www.kinezis.com.pl/ [R=301,L]
RewriteRule ^aktualnosci,krag-kobiet-tanczacych-kobieciarnia-kolejne-spotkanie-0604-2017,37\.html$ http://www.kinezis.com.pl/ [R=301,L]
RewriteRule ^oferta,moc-narodzin-warsztaty-dla-par,15\.html$ http://www.kinezis.com.pl/ [R=301,L]
RewriteRule ^oferta,terapia-dzwiekiem-koncert-relaksacyjny,46\.html$ http://www.kinezis.com.pl/ [R=301,L]
RewriteRule ^galeria\.html$ http://www.kinezis.com.pl/ [R=301,L]
RewriteRule ^oferta,matularnia-grupa-wsparcia-dla-mam,38\.html$ http://www.kinezis.com.pl/ [R=301,L]
RewriteRule ^oferta,dla-kobiet-w-ciazy-rodzicow-i-dzieci,13\.html$ http://www.kinezis.com.pl/ [R=301,L]
RewriteRule ^oferta,mamy-w-kregu-grupa-rozwojowa-dla-kobiet-mam,35\.html$ http://www.kinezis.com.pl/ [R=301,L]
RewriteRule ^zespol,mirela-hejnol-mysliwiec,4\.html$ http://www.kinezis.com.pl/ [R=301,L]
RewriteRule ^aktualnosci,moc-narodzin-kolejna-edycja-autorskich-warsztatow-dla-par-szkola-rodzenia,26\.html$ http://www.kinezis.com.pl/ [R=301,L]
RewriteRule ^oferta,krag-kobiet-tanczacych,44\.html$ http://www.kinezis.com.pl/ [R=301,L]
RewriteRule ^oferta,poradnictwo-wspierajace-rozwoj-dziecka,17\.html$ http://www.kinezis.com.pl/ [R=301,L]
RewriteRule ^zespol,agnieszka-bednarczyk,42\.html$ http://www.kinezis.com.pl/ [R=301,L]
RewriteRule ^oferta,warsztaty-feldenkraisa,22\.html$ http://www.kinezis.com.pl/ [R=301,L]
RewriteRule ^oferta,konsultacje-i-terapia-neurorozwojowa-dziecka,17\.html$ http://www.kinezis.com.pl/ [R=301,L]
RewriteRule ^aktualnosci,taniec-i-cwiczenia-dla-kobiet-w-ciazy-cwiczenia-swiadomosci-ciala,17\.html$ http://www.kinezis.com.pl/ [R=301,L]
RewriteRule ^zespol,slawomir-mysliwiec,7\.html$ http://www.kinezis.com.pl/ [R=301,L]
RewriteRule ^kontakt\.html$ http://www.kinezis.com.pl/ [R=301,L]

RewriteRule ^oferta,ruch-naturalny,21\.html$ http://www.kinezis.com.pl/ [R=301,L]
RewriteRule ^oferta,mamy-w-kregu-spotkania-dla-mam-z-malymi-dziecmi,35\.html$ http://www.kinezis.com.pl/ [R=301,L]
RewriteRule ^oferta,taniec-spontaniczny,36\.html$ http://www.kinezis.com.pl/ [R=301,L]
RewriteRule ^oferta,taniec-z-dzieckiem-w-chuscie,25\.html$ http://www.kinezis.com.pl/ [R=301,L]
RewriteRule ^oferta,joga-dla-kobiet,39\.html$ http://www.kinezis.com.pl/ [R=301,L]
RewriteRule ^oferta,konsultacje-psychologiczne-i-psychoterapia,23\.html$ http://www.kinezis.com.pl/ [R=301,L]
RewriteRule ^poradnia-laktacyjna,oferta,6\.html$ http://www.kinezis.com.pl/ [R=301,L]
RewriteRule ^oferta,cwiczenia-swiadomosci-ciala,21\.html$ http://www.kinezis.com.pl/ [R=301,L]
RewriteRule ^oferta,rozwojowa-praca-z-cialem,24\.html$ http://www.kinezis.com.pl/ [R=301,L]
RewriteRule ^oferta,cwiczenia-i-taniec-dla-kobiet-w-ciazy,16\.html$ http://www.kinezis.com.pl/ [R=301,L]
RewriteRule ^o-kinezis\.html$ http://www.kinezis.com.pl/ [R=301,L]
RewriteRule ^oferta,indywidualne-sesje-pracy-z-cialem,24\.html$ http://www.kinezis.com.pl/ [R=301,L]
RewriteRule ^oferta,warsztaty-i-szkolenia,19\.html$ http://www.kinezis.com.pl/ [R=301,L]
RewriteRule ^zespol,urszula-wilczek,14\.html$ http://www.kinezis.com.pl/ [R=301,L]
RewriteRule ^oferta,mama-i-niemowle-koncert-relaksacyjny,45\.html$ http://www.kinezis.com.pl/ [R=301,L]
RewriteRule ^zespol,joanna-fajdek,8\.html$ http://www.kinezis.com.pl/ [R=301,L]
RewriteRule ^aktualnosci,krag-kobiet-kobieciarnia-kolejne-spotkanie-0902-2017-czwartek,37\.html$ http://www.kinezis.com.pl/ [R=301,L]
RewriteRule ^oferta,grupowe-zajecia-ruchowe,20\.html$ http://www.kinezis.com.pl/ [R=301,L]
RewriteRule ^aktualnosci,dla-kobiet-w-ciazy-taniec-i-cwiczenia-swiadomosci-ciala-zapisy-do-nowej-grupy,17\.html$ http://www.kinezis.com.pl/ [R=301,L]
RewriteRule ^oferta,cennik,27\.html$ http://www.kinezis.com.pl/ [R=301,L]
